.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 36px;
  padding-left: 36px;
}

.label-one {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form .label-one input {
  width: 360px;
  height: 40px;
  border: 1px solid #808080;
  border-radius: 4px;
}

.form .label-one input:hover {
  border: 1px solid #000;
}

fieldset {
  display: flex;
  gap: 48px;
  width: 362px;
  height: 64px;
  padding: 0;
  margin: 0;
  border-radius: 4px;
  stroke-width: 1px;
  stroke: #808080;
}

fieldset:hover {
  border: 1px solid #000;
}

fieldset label {
  width: 20px;
  height: 20px;
  gap: 4px;
  display: flex;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
  font-family: 'Montserrat', sans-serif;
  margin-left: 48px;
  margin-top: 8px;
  cursor: pointer;
}

legend {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  font-family: 'Montserrat', sans-serif;
  margin-left: 28px;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  border-radius: 8px;
  padding: 8px 16px;
  width: 364px;
  height: 40px;
  border: none;
  background-color: #4e75ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  margin-top: 8px;
}

button:hover {
  background-color: #6c8cff;
}
